.git
.github
.env
.env.*
!.env.example
!.env.*.example

storage/logs/*
!storage/logs/.gitkeep
storage/cache/*
!storage/cache/.gitkeep
storage/app/white-label/*
!storage/app/white-label/.gitkeep
storage/conversation-attachments/*

*.zip
*.tar
*.tar.gz
node_modules
